*.iml
.gradle
/local.properties

/.idea/
/.kotlin/

.DS_Store

/build
**/build/

captures
.externalNativeBuild
.cxx

# Release artifacts
app/release/
*.apk
*.aab

# Keystore
afitechtokv2
*.jks
*.keystore
*.key